.password-input{
    display: flex;
    align-items: center;
    background: transparent;
    
   
}
.passowrd-input-field{
    border: 1px solid #d3d3d3;
    width: 320px;
    height: 50px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
   
}
.show-icon{
    cursor: pointer;
    color: #696666;
}
.not-show-icon{
    cursor: pointer;
    color: #696666;
}