.edit-card-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: white 1px solid;
}

.title {
    font-weight: 700;
    font-size: large;
}

.title-placeholder-text-edit-card {
    outline: none;
    border-radius: 7px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: #d2d2d288;
    border: none;
    height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.edit-card-content {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.content {
    font-weight: 700;
    font-size: large;
}

.content-placeholder-text-edit-card {
    outline: none;
    border-radius: 10px;
    padding: 4px;
    padding-left: 15px;
    margin-top: 5px;
    height: 220px;
    width: 595px;
    max-width: 610px;
    min-width: 595px;
    min-height: 220px;
    max-height: 350px;
    border: none;
    background-color: #d2d2d288;
    margin-bottom: 10px;
}

.edit-card-btn {
    font-size: medium;
    margin-top: 7px;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 70px;
}

.tags {
    font-weight: 700;
    font-size: large;
    
}

.edit-card-tags label {
    color: black;
}
.add-close-btn-container {
    display: flex;
    justify-content: space-between;
    /* This will move the buttons to opposite corners */
    align-items: center;
    /* Align the buttons vertically in the middle */
    width: 100%;
    /* Make sure the container spans full width */
}

.close-btn {
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #0078d4;;
    color: white;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.edit-card-btn{
    font-size: medium;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px;
    background-color: #0078d4;;
    color: white;
    border: none;
    cursor: pointer;
}


.edit-card-btn:hover,
.close-btn:hover {
    background-color: #005fa8;
    color: white;
}

.handleAddNote {
    color: red;
    font-size: small;
}