.navbar {
    background-color: #0072c6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.navbar-log-img {
    width: 110px;
    height: 42px;
}


.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
}


.search-input {
    width: 0;
    padding: 0.4rem;
    opacity: 0;
    visibility: hidden;
    border: none;
    border-radius: 7px;
    background-color: #b3d6f2;
    color: #333;
    outline: none;
    font-size: 0.9rem;
    transition: width 0.5s ease, opacity 0.5s ease, visibility 0.5s ease; /* Animate width and opacity */
}


.search-bar-container.open .search-input {
    width: 200px; 
    visibility: visible; 
    opacity: 1;
    padding-left: 0.8rem;
    margin-right: 0.5rem;
}


.search-icon,
.submit-search-icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-icon:hover,
.submit-search-icon:hover {
    color: #b3d6f2;
}


.clear-icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 8px;
}

.clear-icon:hover {
    color: #ff5252;
}

@media (max-width: 768px) {

    .search-bar-container.open .search-input {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .navbar-log-img {
        width: 100px;
        height: 40px;
    }

    .search-bar-container.open .search-input {
        width: 120px;
    }
}
